datasets/webnlg/release_v3.0/*
datasets/webnlg/*.txt
datasets/nyt10/nyt10m/*
datasets/nyt10/*.txt
datasets/fewrel/*.txt
datasets/fewrel/*.json
datasets/fewrel_star/*.txt
datasets/fewrel_star/*.json
__pycache__/*
